@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}

body::after {
  content: "";
  background-image: url("https://github-production-user-asset-6210df.s3.amazonaws.com/115514170/246425885-19c58426-0161-4456-b90c-27b25927ceb6.jpeg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  /* Set the desired opacity value */
  pointer-events: none;
  z-index: -1;
}
a {
  text-decoration: none;
  color: white;
}
.logo_name>a>img {
  width: 40%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  z-index: 1;
  position: fixed;
  transition: padding-bottom padding-top background-color 0.5s ease;
}

nav.scrolled {
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

nav.scrolled a {
  color: black;
}

.nav-contents {
  margin-left: 20%;
  display: flex;
  gap: 3rem;
}

.loader2{
  left: 0;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F7FAFC;
}

.container{
  margin: 0;
  top: 150px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  width: 400px;
  padding: 30px;
}

.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  /* color: #5c6bc0;  */
  color: #ea1d95; 
  font-size: 18px;
  margin-top:94px;;
}

.box h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-bottom: 70px;
}

.box input[type = "email"],.box input[type = "password"] {
  display: block;
  margin: 20px auto;
  border: 1px solid rgb(197, 195, 195);
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  /* color: #d6d6d6; */
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}

.box input[type = "email"]:focus,.box input[type = "password"]:focus {
  border: 1px solid #79A6FE;
  
}

a{
  color: #5c7fda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}

.btn1 {
  border:0;
  /* background: #7f5feb; */
  background: #c96ef6;
  color: #dfdeee;
  /* border-radius: 100px; */
  border-radius: 10px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
}

.btn1:hover {
  /* background: #5d33e6; */
  background: #aa1af1;
}

.rmb {
  position: absolute;
  margin-left: -24%;
  margin-top: 0px;
  color: #dfdeee;
  font-size: 13px;
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}


.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}      

.typcn.active {
  color: #7f60eb;
}

.error {
  background: #ff3333;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}
.logo img{
  width: 40px;
  height: 40px;
}

.logo:hover{
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo{
  width: 80%;
  margin: auto;
  border-radius: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 600;
  border: 1px solid rgb(218, 215, 215);
}

.logo > div{
  margin-left: 10px;
}

#github{
  margin-bottom: 30px;
}


@media (max-width:720px){
  .container{
    /* position: static; */
    margin: auto;
  }
}