/* div{
    border: 1px solid black;
} */

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: #E5E7EB;
}

body::after {
    content: "";
    background-image: url("https://github-production-user-asset-6210df.s3.amazonaws.com/115514170/246425885-19c58426-0161-4456-b90c-27b25927ceb6.jpeg");
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    /* Set the desired opacity value */
    pointer-events: none;
    z-index: -1;
}


/* Nav Bar */
/* nav{
    display: flex;
    position: sticky;
    top: 0;
    height: 50px;
    padding: 10px;
    margin-bottom: 50px;
    z-index: 10;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
}
nav > div{
    display: flex;
}
nav > div:nth-child(2){
    margin-left: auto;
    width: 20%;
    justify-content: space-evenly;
    
}
nav > div:nth-child(1){
    width: 30%;
    justify-content: space-between;
}
nav img{
    height: 100%;
    width: 100%;
} */

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-bottom: 50px;
    height: 60px;
    position: sticky;
    z-index: 2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.logo_name>a>img {
    width: 70%;
    margin-left: 5%;
}
#logout2{
    display: flex;
}
#logout2 img{
    margin-left: 50px;
    height: 50px;
    width: 50px;
}
/* nav.scrolled {
    background-color: #dd4545;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
} */

.nav-contents {
    display: flex;
    gap: 3rem;
}

.nav-contents>a:hover {
    color: #dd4545;
}

#settings {
    height: 90%;
}
#logout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    background-color: #DD4545;
    font-size: 20px;
}
#logout:hover{
    cursor: pointer;
    background-color: #EC9797;
}
#name {
    display: flex;
    align-items: center;
}

#events{
    display: flex;
    margin-left: 5%;
    z-index: 0;
}
#events > div{
    border-radius: 8px 8px 0 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: #5184eb;
    color: #fff;
    font-weight: 500;
    z-index: 1;
    padding: 25px 30px;
    border: none;
}
#events > div:nth-child(1){
    background-color: #fff;
    color: black;
}
#events > div:hover{
    cursor: pointer;
}

#cont{
    width: 90%;
    margin: auto;
    z-index: 5;
    height: 500px;
    overflow: auto;
    padding: 30px 0px ;
    background-color: #fff;
}

table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
td, th{
    border-bottom: 1px solid rgb(189, 183, 183);
    padding: 5px;
    text-align: center;
}
td{
    padding-top: 30px;
}
.start{
    color: rgb(31, 156, 31);
    font-weight: 600;
}
.end{
    color: #d10d0d;
    font-weight: 600;
}
tbody > tr:hover{
    background-color: rgb(250, 247, 247);
}

.accept > div{
    padding: 10px;
    background-color: rgb(121, 223, 121);
    color: #fff;
    text-align: center;
    border-radius: 4px;
}
.accept > div:hover{
    cursor: pointer;
    background-color: lightgreen;
}
.reject > div{
    text-align: center;
    padding: 10px;
    background-color: #df5e5e;
    color: #ffff;
    border-radius: 4px;
}
.reject > div:hover{
    cursor: pointer;
    background-color: #e77777;
}

.noClient{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #d10d0d;
}
.meet > div{
    background-color: #5184eb;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}
.meet > div:hover{
    cursor: pointer;
    background-color: #7ba4f5;
}
#settings:hover{
    cursor: pointer;
}
.message{
    color: #515beb;
}
a{
    text-decoration: none;
}
.link div{
    background-color: #5184eb;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.link div:hover{
    background-color: #7ba4f5;
}
.accepted::first-letter, .pending::first-letter{
    text-transform: capitalize;
}
.accepted div{
    background-color: rgb(121, 223, 121);
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.pending div{
    background-color: #5184eb;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.rejected div{
    background-color: #df5e5e;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}